# Ignore all python stuff
__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore everything inside __pycache__ directories
__pycache__/*

# Ignore .wav files in subdirectories
**/*.wav

# Ignore all .png files in all directories
**/*.png