/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --border-color-standby: rgba(0, 0, 0, 0.5);
    --border-color-hover: rgb(255, 255, 255);
    --cell-color-standby: rgb(100, 100, 100);
    --background-color: rgb(0, 0, 0);
    --transition-time: 0.07s;
    --transition-release: 0.5s;
    --background-color-s-block: #000000;
    --background-color-d-block: #000000;
    --background-color-p-block: #000000;
    --background-color-f-block: #000000;
    --background-color-hover-s-block: #e45b35;
    --background-color-hover-d-block: #2369e3;
    --background-color-hover-p-block: #d0a20d;
    --background-color-hover-f-block: #1ea660;
}   

/* Styles of body */
body {
    width: 60%;
    padding-left: 20%;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--background-color);
}

/* Styles of table */
table {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    table-layout: fixed;
    border-spacing: 10px;
}

/* Styles of table cells */
td {
    font-size: medium;
    border: 2px solid transparent;
    text-align: center;
    border-radius: 3px;
    background-color: var(--cell-color-standby);
    color: var(--border-color-standby);
    transform: scale(1, 1);
    transition: background-color var(--transition-release) ease-in-out, border-color var(--transition-release) ease-in-out, color var(--transition-release) ease-in-out, transform var(--transition-release) ease-in-out;
}

/* Remove empty cells */
td:empty {
    border : none;
    background-color: transparent;
  }

/* Styles hover on non-empty cells */
td:not(:empty):hover {
    border-color: var(--border-color-hover);
    color: white;
    transform: scale(1.1, 1.1);
    transition: background-color var(--transition-time) ease-in-out, border-color var(--transition-time) ease-in-out, color var(--transition-time) ease-in-out, transform var(--transition-time) ease-in-out;
}

/* Styles of atomic number */
.number {
    font-size: 5pt;
    position: absolute;
    top: 5%;
    left: 10%;
    opacity: 0;
}

/* Styles of atomic mass */
.weight {
    font-size: 5pt;
    position: absolute;
    top: 5%;
    right: 7%;
    text-align: right;
}

/* Styles of element name */
.element {
    font-size: 5pt;
    position: absolute;
    bottom: 10%;
    left: 0%;
    right: 0%   ;
    text-align: center;
    opacity: 0;
}

.block {
    display: none;
}

.s-block {
    background-color: var(--background-color-s-block);
    color: var(--background-color-hover-s-block);
}
.d-block {
    background-color: var(--background-color-d-block);
    color: var(--background-color-hover-d-block);
}
.p-block {
    background-color: var(--background-color-p-block);
    color: var(--background-color-hover-p-block);
}
.f-block {
    background-color: var(--background-color-f-block);
    color: var(--background-color-hover-f-block);
}

.s-block:hover {
    background-color: var(--background-color-hover-s-block);
}
.d-block:hover {
    background-color: var(--background-color-hover-d-block);
}
.p-block:hover {
    background-color: var(--background-color-hover-p-block);
}
.f-block:hover {
    background-color: var(--background-color-hover-f-block);
}

/* Styles of legend */
td:hover .number, td:hover .weight, td:hover .element {
    opacity: 1;
}