
html{
    font-family: Iosevka;
    background: rgb(236, 232, 218);
    zindex: 0;
}

body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(236, 232, 218);

}

/*#ibg{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(241, 225, 167);
    z-index: -2;
}*/


.bg{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: transparent;
    z-index: -10;
    opacity: 0;
    -webkit-transition: all 1s ease;
}


i {
    color: black;
    width: 30px;
    text-align: center;
}



h1{
    font-weight: 400;
    font-size: 1.8vw;
    position: absolute;
    text-align: left;
    top: 0.5%;
    left: 10%;
}

h3{
    font-weight: 400;
    font-size: 1.2vw;
    position: absolute;
    text-align: left;
    top: 4.7%;
    left: 10%;
}

h4{
    font-weight: 400;
    font-size: 1.2vw;
    position: absolute;
    text-align: right;
    bottom: 0.5%;
    right: 10%;
    color: rgb(171, 171, 171);
}

table {
    position: absolute;
    top:12%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    table-layout:fixed;
    width: 80%;
    border-collapse: separate;
    border-spacing: 5px;
    line-height: 10px;

}


td {
    display: table-cell;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.bg p {
    position: absolute;
    left:25%;
    top: 17%;
    line-height: 20px;
    text-align: left;
    font-size: 1vw;
}

.bg p.title {
    position: absolute;
    left:25%;
    top: 12%;
    line-height: 20px;
    text-align: left;
    font-size: 1.5vw;
    font-weight: bold;
}

td > * {
    vertical-align : middle;
    text-align: center;
}

div.cell-content {
    display: inline-block;
    height: 7vh;
    width: 3vw;
    overflow: hidden;
    margin: 0;
}

span {
    display: inline-block;
    text-align: center;
}

span.atomicnumber {
    font-size: 0.5vw;
    font-weight: normal;
    display: block;
}

span.symbol {
    font-size: 1.3vw;
    font-weight: 500;
    display: block;
}

td.empty {
    border-color: transparent;
    background-color: transparent;
}



td.Nonmetal:hover {
    background-color: #0a6cb3;
    color: white;
    border: 2px solid white;
}
td.Nonmetal:hover > div.bg {
    background-color: #0a6cb3;
    color: white;
    opacity: 1;
    -webkit-transition: opacity 2s ease;
}


td.AlkaliMetal:hover {
    background-color: #a69c79;
    color: white;
    border: 2px solid white;
}
td.AlkaliMetal:hover > div.bg {
    background-color: #a69c79;
    color: white;
    opacity: 1;
    -webkit-transition: opacity 2s ease;
}

td.AlkalineEarthMetal:hover {
    background-color: #b3b18a;
    color: white;
    border: 2px solid white;
}
td.AlkalineEarthMetal:hover > div.bg {
    background-color: #b3b18a;
    color: white;
    opacity: 1;
    -webkit-transition: all 2s ease;
}

td.Metalloid:hover {
    background-color: #426e93;
    color: white;
    border: 2px solid white;
}
td.Metalloid:hover > div.bg {
    background-color: #426e93;
    color: white;
    opacity: 1;
    -webkit-transition: all 2s ease;
}

td.Halogen:hover {
    background-color: #70c404;
    color: white;
    border: 2px solid white;
}
td.Halogen:hover > div.bg {
    background-color: #70c404;
    color: white;
    opacity: 1;
    -webkit-transition: all 2s ease;
}


td.NobleGas:hover {
    background-color: #940f43;
    color: white;
    border: 2px solid white;
}
td.NobleGas:hover > div.bg {
    background-color: #940f43;
    color: white;
    opacity: 1;
    -webkit-transition: all 2s ease;
}


td.Metal:hover {
    background-color: #0f7094;
    color: white;
    border: 2px solid white;
}
td.Metal:hover > div.bg {
    background-color: #0f7094;
    color: white;
    opacity: 1;
    -webkit-transition: all 2s ease;
}


td.TransitionMetal:hover {
    background-color: #e6a02a;
    color: white;
    border: 2px solid white;
}
td.TransitionMetal:hover > div.bg {
    background-color: #e6a02a;
    color: white;
    opacity: 1;
    -webkit-transition: all 2s ease;
}


td.Lanthanide:hover {
    background-color: #e62a84;
    color: white;
    border: 2px solid white;
}
td.Lanthanide:hover > div.bg {
    background-color: #e62a84;
    color: white;
    opacity: 1;
    -webkit-transition: all 2s ease;
}

td.Actinide:hover {
    background-color: #f4ff19;
    color: black;
    border: 2px solid black;
}
td.Actinide:hover  {
    background-color: #f4ff19;
    color: black;
    opacity: 1;
    -webkit-transition: all 2s ease;
}


td.Transactinide:hover {
    background-color: #19ff5a;
    color: black;
    border: 2px solid black;
}
td.Transactinide:hover > div.bg {
    background-color: #19ff5a;
    color: black;
    opacity: 1;
    -webkit-transition: all 2s ease;
}

a #github {
    color" black;
    font-size: 1vw;
    text-decoration: none;
}

a #github:visited {
    color" black;
    font-size: 1vw;
    text-decoration: none;
}
